<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project 309</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" crossorigin="anonymous">
</head>
<body>
	 

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Name -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Med Connect</a>
			</div>

			<!-- items -->
			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">HOME</a></li>
					<li><a href="/doctors/all">FIND DOCTOR</a></li>
					<li><a href="/pharmacies/all">FIND NEARBY PHARMACY</a></li>
					<li><a href="/others/about">ABOUT</a></li>
					<li><a href="/others/faq">FAQs</a></li>
				</ul>
			</div>

		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-11">
				<h1>Revolutionizing Health Care</h1>
				<p>You cannot put a price on your health, so why not make sure to take good care of it?</p>

				
			</div>

			<div class="col-md-1">
				<h4>Admin</h4>

				    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#popUpWindow">Login</button>

				    <div class="modal fade" id="popUpWindow">
				        <div class="modal-dialog">
				            <div class="modal-content">

				                <!-- header -->
				                <div class="modal-header">
				                    <button type="button" class="close" data-dismiss="modal">&times;</button>
				                    <h3 class="modal-title">Log In</h3>
				                </div>

				                <!-- body (form) -->
				                <div class="modal-body">
				                    <form role="form">
				                        <div class="form-group">
				                            <input type="username" class="form-control" placeholder="Username">
				                        </div>
				                        <div class="form-group">
				                            <input type="password" class="form-control" placeholder="Password">
				                        </div>
				                    </form>
				                </div>

				                <div class="modal-footer">
				                	<a href="pro-pg-3.html"><button class="btn btn-primary btn-block">Submit</button></a>

				                </div>

				            </div>
				        </div>
		    		</div>
				</div>
		</div>
	</div>


</body>
</html>