<!DOCTYPE html>
<html lang="en">
<head>
    <title>Patient Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/AboutCSS.css"" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
	 

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Name -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Med Connect</a>
			</div>

			<!-- items -->
			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav">
					<li><a href="#">HOME</a></li>
					<li><a href="/doctors/all">FIND DOCTOR</a></li>
					<li><a href="/pharmacies/all">FIND NEARBY PHARMACY</a></li>
					<li class="active"><a href="/others/about">ABOUT</a></li>
					<li><a href="/others/faq">FAQs</a></li>
				</ul>
			</div>

		</div>
	</nav>
	
   <div class="container">
  	<h1 class="page-header">About Us</h1>
  	
  
	<div class="row">
    
    <div>
      <p> Health Care has always been a matter of concern, specially in overly populated places like Dhaka. MediWeb thrives to bring you the best health care service at your doorstep. By eliminating the aspect to traditional appointment systems, this helps to bridge the gap between patients and doctors. </p>
      <p> MediWeb provides a efficient and reliable medium of getting medical services with ease while ensuring a smooth customer interraction. 
    </div>
    <div class="contact">
<p>
      
      <h2 class="page-heade">Contact Us</h2>
      </p>

          <ul>
          <li>Cell No : 01688932214</li>
          <li>Email : mediweb@gmail.com</li>
          <li>Office : 2nd Lane Gopibag</li></li>
        </ul>
    </div>




      </div>
  	</div>
  
  <h4></h4>
</div>

<p></p>
<div>
     <a href="http://facebook.com" class="fa fa-facebook"></a>
     <a href="http://twitter.com" class="fa fa-twitter"></a>
     <a href="http://youtube.com" class="fa fa-youtube"></a>
   </div>

</script>
   <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5acf9d95c669cb3b"></script>



</body>
</html>