<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project 309</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/font.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
	 

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Name -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">Med Connect</a>
			</div>

			<!-- items -->
			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="nav navbar-nav">
					<li><a href="#">HOME</a></li>
					<li><a href="/doctors/all">FIND DOCTOR</a></li>
					<li><a href="/pharmacies/all">FIND NEARBY PHARMACY</a></li>
					<li><a href="/others/about">ABOUT</a></li>
					<li class="active"><a href="/others/faq">FAQs</a></li>
				</ul>
			</div>

		</div>
	</nav>
	
   <div class="container">
  	<h1 class="page-header">FAQ</h1>
  	
  
	<div class="row">
      <div id="accordion" class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#panel-1" data-parent="#accordion" data-toggle="collapse">What does Mediweb do?</a>
            </h4>
          </div>
          <div class="panel-collapse collapse in" id="panel-1">
            <div class="panel-body">
              <p>Mediweb is an web and mobile based application that helps to bridge the gap between patients and doctors by making the whole procedure easier and bringing the services
              <p>to your footsteps at any time and any place</p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#panel-2" data-parent="#accordion" data-toggle="collapse">How do I use it?</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="panel-2">
            <div class="panel-body">
              You simply go to your browser and put in our website link to use the services of MediWeb.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#panel-3" data-parent="#accordion" data-toggle="collapse">Is it for free?</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="panel-3">
            <div class="panel-body">
              MediWeb is completely free of cost and requires no additional information like credit cards to register.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#panel-4" data-parent="#accordion" data-toggle="collapse">Is there a mobile application for this?</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="panel-4">
            <div class="panel-body">
              The mobile application is under development, but you can always visit the website usingthe mobile browser.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="#panel-5" data-parent="#accordion" data-toggle="collapse">Where do i give my feedback?</a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="panel-5">
            <div class="panel-body">
              Please give your valuable feedback to us by emailing to us or posting any queries in our facebook group.
            </div>
          </div>
        </div>

      </div>
  	</div>
  
  <h4></h4>
</div>

<p></p>
<div>
     <a href="http://facebook.com" class="fa fa-facebook"></a>
     <a href="http://twitter.com" class="fa fa-twitter"></a>
     <a href="http://youtube.com" class="fa fa-youtube"></a>
   </div>

</script>
   <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5acf9d95c669cb3b"></script>



</body>
</html>